@import url("http://fonts.cdnfonts.com/css/cocogoose");

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.logo,
.social-tab {
  display: none;
}

.nav-list {
  position: fixed;
  left: -100%;
  top: 0;
  padding-top: 2rem;
  align-items: flex-end;
  padding-inline-start: 0;
  margin-top: 0;
  background-color: #272a31;
  opacity: 0.95;
  list-style-type: none;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.show {
  display: none;
}

.item {
  margin: 2rem;
  padding-bottom: 1rem;
}

.nav-bar .item {
  border-bottom: 2px solid #3e3c3c;
}

.campaign-button {
  display: none;
}

.nav-link {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
}

.overflow-hidden {
  overflow-y: hidden;
}

.nav-list.active {
  left: 0;
}

.menu {
  display: block;
  cursor: pointer;
  padding: 1.5rem;
}

.menu-icon {
  border: none;
  background: none;
}

.close-menu {
  top: 2rem;
  position: fixed;
  left: 90%;
}

#headline {
  background-image: url("images/main_big.png");
  background-size: contain;
  background-color: #f7f7f8;
}

.headline-title {
  padding: 1.5rem;
}

h1 {
  font-weight: 300;
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  line-height: 2px;
  color: #ec5242;
}

.head-title {
  width: 80%;
}

.headline-paragraph {
  font-family: Lato, sans-serif;
  font-size: 1em;
  color: #272a31;
  border: 4px solid #fff;
  padding: 1rem;
}

h3 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 2em;
  line-height: 1em;
  color: #272a31;
  margin: 0;
}

h4 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1em;
  color: #272a31;
  margin: 0;
  padding: 1rem 0 4rem;
}

#main-program {
  background-image: url("images/pattern_bg.png");
  background-color: #272a31;
  display: flex;
  flex-direction: column;
}

.main-program-title h2,
.feature-speaker-title h2,
.partner-title h2 {
  font-family: Lato, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 2em;
  line-height: 1em;
}

.main-program-title hr,
.feature-speaker-title hr,
.hr-partner {
  border: 1px solid #ec5242;
  width: 3rem;
}

.main-program-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-list {
  background: rgba(255 255 255 / 20%);
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.main-icon-card {
  padding-right: 1rem;
}

.main-card-title {
  color: #ec5242;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1em;
  padding-right: 1rem;
}

.main-card-paragraph {
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5em;
}

.join-button {
  background-color: #ec5242;
  color: #fff;
  margin: 2rem;
  padding: 1rem;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  border: none;
  cursor: pointer;
}

#feature-speakers {
  padding: 1rem;
}

.feature-speaker-title h2 {
  color: #272a31;
}

.feature-speaker-title {
  padding-bottom: 2rem;
}

.speakers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.spaeaker-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.speaker-photo {
  padding-right: 1.5rem;
}

.speaker-info h2 {
  color: #000;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 1em;
  line-height: 1em;
}

.speaker-subtitle {
  color: #ec5242;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1em;
  font-style: italic;
}

.hr-speaker {
  border: 1px solid #d3d3d3;
  width: 25px;
  align-self: flex-start;
  margin: 0;
}

.speaker-paragraph {
  color: #000;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1em;
}

#partner,
#about-partner {
  background-color: #272a31;
  padding: 2rem;
}

.partner-title {
  padding-bottom: 2rem;
}

.partners,
.partners-mobile {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
}

.partners {
  display: none;
}

.partner-logo {
  width: 100%;
  padding-inline: 20px;
}

.partner-icon {
  width: 100%;
  filter: grayscale(100%);
}

.partners-second-line {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
}

.creative-content-desktop {
  display: none;
}

.creative-content-mobile {
  color: #272a31;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 2rem;
}

.creative-logo {
  border: 1px solid #d3d3d3;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.creative-logo-image {
  width: 50%;
}

.bottom-hr {
  border: 0.9px solid #d3d3d3;
  margin-top: 2.5rem;
}

.creative-hr,
.see-hr {
  border: 1px solid #ec5242;
  width: 2rem;
}

.see-title p {
  color: #272a31;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 2rem;
}

.see-cards {
  display: flex;
  flex-direction: column;
}

.see-card1 {
  background-image: url("images/coding_bootcamp1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  margin-bottom: 2rem;
}

.see-card2 {
  background-image: url("images/bootcamp2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  margin-bottom: 2rem;
}

.see-card1 h3,
.see-card2 h3 {
  text-align: center;
  color: #fff;
}

.see-card1 p,
.see-card2 p {
  text-align: center;
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.footer-logo {
  padding-right: 2rem;
}

.footer-text {
  display: none;
}

.footer-text-mobile h2 {
  font-family: Lato, sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.5em;
}

.about-header {
  background-image: url("images/about_bg_01.png");
  background-size: contain;
  background-color: #f7f7f8;
}

.about-headline-title {
  padding: 1.5rem 1.5rem 0;
}

.about-headline-title h1 {
  font-weight: 300;
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  line-height: 2px;
  color: #ec5242;
  text-align: center;
}

.about-headline-title h2 {
  font-family: COCOGOOSE, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1em;
  color: #ec5242;
  text-align: center;
}

.about-headline-paragraph {
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #272a31;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

.about-second-paragraph {
  font-family: Lato, sans-serif;
  font-size: 1em;
  color: #272a31;
  padding: 0 1rem;
  line-height: 1.5em;
  text-align: center;
}

.about-second-paragraph h3 {
  font-family: Lato, sans-serif;
  font-size: 1em;
  color: #272a31;
  padding: 0 1rem 2rem;
  line-height: 1.5em;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.about-second-paragraph h3:hover {
  color: #ec5242;
}

.about-paragraph {
  display: none;
}

.about-title {
  display: none;
}

.creative {
  padding: 1.5rem;
}

.creative-content h2,
.see-title h2 {
  text-align: center;
  line-height: 1.5em;
}

.see {
  padding: 1.5rem;
}

.about-footer-desktop {
  display: none;
}

.about-footer-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .social-tab {
    display: flex;
    background: #272a31;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5rem 4rem;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 5rem;
  }

  .social {
    list-style: none;
    display: flex;
    margin: 0;
    padding-inline-start: 0;
  }

  .nav-list {
    background-color: #fff;
    list-style: none;
    display: flex;
    margin: 0;
    padding-inline-start: 0;
    flex: 1;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 0;
    position: inherit;
  }

  .item {
    padding-inline-end: 2rem;
    margin: 0;
    padding-bottom: 0;
  }

  .nav-bar .item {
    border-bottom: none;
  }

  .social-item {
    display: inline-block;
    padding-inline-end: 1rem;
  }

  .social-media {
    text-decoration: none;
    text-align: center;
  }

  .social-text {
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5em;
    text-decoration: none;
  }

  .logo {
    display: block;
    flex: 2;
    cursor: pointer;
  }

  .nav-link {
    font-family: Lato, sans-serif;
    color: #272a31;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5em;
    text-decoration: none;
  }

  .nav-bar,
  a:hover { color: #ec5242; }

  .mobile-menu {
    display: none;
  }

  .campaign-button {
    display: block;
    font-family: Lato, sans-serif;
    color: #ec5242;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5em;
    border: 4px  solid #ec5242;
    background-color: #fff;
    cursor: pointer;
    width: max-content;
    transition: all 0.3s ease-in;
  }

  .button {
    text-align: center;
    border: none;
  }

  .campaign-button:hover {
    background-color: #ec5242;
    color: #fff;
    box-sizing: border-box;
  }

  .menu {
    display: none;
  }

  .headline-title {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 3em;
  }

  .headline-paragraph {
    width: 60%;
    margin: 1rem 0 3rem;
  }

  #main-program {
    padding: 1rem 5rem;
  }

  .main-card-title {
    padding-right: 0;
  }

  .main-program-cards {
    flex-direction: row;
  }

  .program-list {
    flex-direction: column;
    text-align: center;
    margin: 0.1rem;
  }

  .join-button {
    display: none;
  }

  #main-program h4 {
    font-family: Lato, sans-serif;
    font-size: 1em;
    color: #fff;
    padding: 4rem;
    line-height: 1.5em;
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
  }

  .main-icon-card {
    padding-right: 0;
  }

  .speakers {
    grid-template-columns: repeat(2, 1fr);
  }

  #feature-speakers {
    padding: 1rem 5rem;
  }

  .spaeaker-card {
    margin-right: 2rem;
  }

  .speaker-info h2 {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
  }

  .speaker-subtitle {
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
  }

  .speaker-paragraph {
    font-size: 1em;
    line-height: 1em;
  }

  #partner,
  #about-partner {
    padding: 2rem 5rem;
  }

  .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .partners-mobile {
    display: none;
  }

  .partners-second-line {
    display: none;
  }

  footer {
    padding: 2rem 5rem;
  }

  .footer-text {
    display: block;
    font-family: Lato, sans-serif;
    color: #272a31;
    font-weight: 100;
    font-size: 0.4em;
    line-height: 1.5em;
    text-decoration: none;
  }

  .footer-text p {
    display: block;
    font-family: Lato, sans-serif;
    color: #272a31;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
  }

  .footer-text-mobile {
    display: none;
  }

  .about-headline-title {
    display: none;
  }

  .about-title {
    display: block;
    padding: 2rem 5rem;
    text-align: center;
    align-items: center;
  }

  .about-title h1 {
    font-family: COCOGOOSE, sans-serif;
    font-weight: 400;
    line-height: 1em;
    color: #ec5242;
  }

  .hr-about-title,
  .creative-hr {
    border: 1px solid #ec5242;
    width: 1rem;
  }

  .about-paragraph {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #272a31;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    margin: 0 6rem;
  }

  .about-second-paragraph p {
    font-size: 1em;
    padding: 1rem 1rem 0;
    line-height: 1.5em;
    text-align: center;
  }

  .creative {
    padding: 1.5rem 5rem;
  }

  .creative-content-desktop {
    display: block;
    color: #272a31;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
    padding-bottom: 2rem;
  }

  .creative-content-mobile {
    display: none;
  }

  .creative-logo {
    margin: 0 6rem;
  }

  .see {
    padding: 1.5rem 5rem;
  }

  .see-cards {
    flex-direction: row;
    justify-content: center;
  }

  #about-partner {
    display: none;
  }

  .see-card1 {
    margin: 0 0.5rem 2rem;
  }

  .see-card2 {
    margin: 0 0.5rem 2rem;
  }

  .see-card1:hover,
  .see-card2:hover {
    filter: grayscale(100%);
    cursor: pointer;
  }

  .about-footer-mobile {
    display: none;
  }

  .about-footer-desktop {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    background-color: #272a31;
  }

  .about-footer-text p {
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 0.6em;
    line-height: 1.5em;
    text-decoration: none;
  }

  .about-footer-text h2 {
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.5em;
  }

  .about {
    padding: 0;
    margin: 0;
    display: block;
  }

  .about-footer-logo {
    padding-right: 1rem;
  }
}
